<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <style>
        .boxx{
            width: 60%;
            height: 60vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: none;
            background-color: rgba(65, 69, 69, 0.95);
            border-radius: 20px;
            color: white;
            font-size: large;
            text-align: center;
        }

        .active{
            display: block;
        }
.green{
    color: rgb(8, 255, 8);
}
.red{
    color: rgb(224, 19, 19);
}
    
    </style>
    <nav class="navbar navbar-dark bg-dark">
        <img style="width: 270px; height: auto; padding:5px;" src="/resources/img/proxima-solid-light.png" alt="">
      </nav>
      <div class="row">
          <div class="boxx">
                <h1 ><span class="green">site info</span> : Description / Rules </h1>
<br>
        <p><span class="green">Roulette</span> is a great way to meet new friends. When you use
             <span class="green">Roulette</span>, we pick someone else at random and let you talk one-on-one. To help you stay safe, chats are anonymous unless you tell someone who you are ( <span class="red">not suggested!</span> ), and you can stop the chat anytime.</p>
        <br>
        <br>

 <h2 class="green">Rules:</h2>
 <li>Must be 18 to use</li>
   <li> Play nice with others :) </li>
            
          </div>
          <div style="margin-top: 100px; " class="container text-center">
            <h1 style="padding-bottom: 20px;font-weight: bold;">
                Welcome to <span style="color: #5FB033;">Roulette</span>! 
            </h1>
            <div style="font-style: italic; padding-bottom: 20px;"> 
            <h5><span style="font-weight:900;">- Make new friends</span></h5>
            <h5><span style="font-weight:900;">- Chat anonymously with someone we choose</span></h5>
            <h5><span style="font-weight:900;">- Stop the chat at anytime</span></h5>
            <h5><span style="font-weight:900;">- click<span style="padding: 5px; cursor: pointer;"><img class="info-icon" src="/resources/img/written-conversation-speech-bubble-with-letter-i-inside-of-information-for-interface.svg" alt="failed to load info icon"></span>for site info / rules if you're a first-time user.</span></h5>
            </div>
            <h3 style="font-weight:900; padding-bottom: 20px;">Click <span style="color: #5FB033;">connect </span>to start chatting<span style="color:#5FB033;">!</span></h3>
            <a id="connect_btn" style="text-decoration: none; color: currentColor;" href="/chat">
            <button type="button" class="btn btn-dark" style="color: #5FB033;width: 20%; height: 18%;">
                Connect
            </button>
        </a> 
          </div>
      </div>
      <script src="/resources/js/scroll.js"></script>
</body>
</html>